body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("quiiz.jpg");
    filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 100px;
    text-align: center;
  }

  h1{      
      font-size: 80px;  
  }

  p{
      font-size: 40px;
  }

  .bg-text button{
      padding: 12px 16px;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: 3px;
      background-color: rgb(192, 150, 231);
      outline: none;
      text-decoration: none;
      border: 3px solid #fff;
      border-radius: 12px;
      transition: .7s;
  }

  .bg-text button:hover, .bg-text button:active{
      background-color: white;
      color: blueviolet;
      border: 3px solid blueviolet;
  }

  /*Welcome.php*/