h1{
    color: red;
}
.linkin {
    background-color: rgba(252, 252, 252, 0.479);    
    background-color: rgba(0, 237, 39, 0.863);    
}

.linkin:hover {
    color: #000; 
    text-decoration:none !important; 
    cursor:pointer;  
    
    background-color: rgba(20, 149, 224, 0.425) !important;
    transition: 0.3s !important;
}

.linkss{
    font-weight: 500;

}